body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-one {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    color: black;
    height: 30px;
    align-items: center;
}

.right {
    font-size: 20px;
    display: flex;
}

.search-box {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    align-items: center;
}

.search-box input[type="text"] {
    border-radius: 20px;
    border-style: none;
    background-color: rgb(245, 215, 215);
    padding: 5px;
}

.search-box i {
    font-size: 10px;
    position: absolute;
    margin-left: 130px;
}

.nav-two {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-top: 0;
    height: 30px;
    align-items: center;
}

.logo img {
    height: 50px;
    padding: 0px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    height: 50%;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.nav-links a:hover {
    color: rgb(229, 48, 156);
}
