.body {
    margin: 0;
    display: flex;
}

.banner-title {
    font-size: 30px;
}

.banner-title,
.banner-subtitle {
    font-family: "Caveat", cursive;
}

ul li {
    font-family: "Caveat", cursive;
}

header,
footer {
    flex: 1;
}

main {
    flex: 5;
}

.banner-container {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 50px;
}

li {
    list-style: none;
}
