body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.banner-container {
    display: flex;
    background-image: url(images/happy-lab.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    margin-top: 40px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 50px;
    height: 20%;
    position: absolute;
    left: 2%;
    bottom: 40%;
}

li {
    list-style: none;
}

